In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv('D:\\downloads\\t_train.csv')
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [4]:
df.head(3)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()

In [7]:
df['Sex']=le.fit_transform(df.Sex)

In [8]:
df.head(2)

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833

In [9]:
df.columns[df.isna().any()]

Index(['Age'], dtype='object')

In [14]:
x=df.Age.mean()
x

29.69911764705882

In [15]:
import math

In [17]:
age_to_fill=math.ceil(x)
age_to_fill

30

In [18]:
df.Age=df.Age.fillna(age_to_fill)

In [19]:
df[:11]

    Survived  Pclass  Sex   Age     Fare
0          0       3    1  22.0   7.2500
1          1       1    0  38.0  71.2833
2          1       3    0  26.0   7.9250
3          1       1    0  35.0  53.1000
4          0       3    1  35.0   8.0500
5          0       3    1  30.0   8.4583
6          0       1    1  54.0  51.8625
7          0       3    1   2.0  21.0750
8          1       3    0  27.0  11.1333
9          1       2    0  14.0  30.0708
10         1       3    0   4.0  16.7000

In [21]:
X=df.drop('Survived',axis='columns')

In [22]:
Y=df.Survived

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [26]:
from sklearn.naive_bayes import GaussianNB

In [27]:
model=GaussianNB()

In [28]:
model.fit(x_train,y_train)

GaussianNB()

In [29]:
model.score(x_test,y_test)

0.7653631284916201